
h1
{
    font-size: 30px;
    margin: 10px 2px;
}


td
{
    border: 2px solid #333;
    padding: 20px;
    
}

button
{
    width: 150px;
    height: 75px;
    font-size: 20px;

    border:2px gray solid;
}

button:hover
{
    background-color: silver;
}

div 
{
    margin: 10px; 
}